:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --black-logo-color: #000000;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  background-color: var(--white-text-color);
  color: var(--primery-text-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Лого */
.logo {
  color: var(--black-logo-color);
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: var(--white-text-color);
}

/* Навігація сайту */
.navigation-list .link.current {
  color: var(--accent-color);
}
.navigation-list .link {
  color: var(--secondary-text-color);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--accent-color);
}

/* Контакти */
.email,
.telnumber {
  color: var(--primery-text-color);
}

.email:hover,
.telnumber:hover,
.email:focus,
.telnumber:focus {
  color: var(--accent-color);
}

/* Мейн */
.hero {
  background: var(--third-background-color);
}

.hero-title {
  color: var(--white-text-color);
}
.hero-button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* Наші особливості */
.features-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

/* Наша зайнятість + Команда */

.employment-title,
.team-title {
  color: var(--secondary-text-color);
}

.team {
  background: var(--secondary-background-color);
}

.team-member {
  color: var(--secondary-text-color);
}

/* Портфоліо */
.filter-button {
  color: var(--secondary-text-color);
  background: var(--secondary-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
}

.filter-title {
  color: var(--primery-text-color);
}

.project-title {
  color: var(--secondary-text-color);
}

/* Підвал */
.footer {
  background: var(--third-background-color);
}

.address {
  color: var(--secondary-background-color);
  font-style: normal;
}
